input[id=submit-logout] {
	right: 0px;
}

input[type=submit], a {
	background-color: #31B0D5;
	background-image: none;
	border-width: 1px;
	border-color: #111111;
	border-style: solid;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-collapse: collapse;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-spacing: 0px 0px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	line-height: 24px;
	margin: 0px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	vertical-align: middle;
	white-space: nowrap;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-user-select: none;
}

input[id=tour-join] {
	background-color: #00bb00;
}

input[id=tour-leave] {
	background-color: #bb0000;
}

input[value=Logout] {
	background-color: #aa0000;
}

th {
	background-color: #eeeeee;
}

tr, td, th, table {
	margin: 0px;
	padding: 3px;
	margin: 3px;
	vertical-align: top;
	margin: 3px;
}

form {
	display: inline-block;
}

.canceled {
	color: #dddddd;
	text-decoration: line-through;
}

#message {
	color: red;
	display: inline-block;
}

#version {
	position: fixed;
	vertical-align: bottom;
	text-align: right;	
	font-size: xx-small;
	width: 100%;
	height: 100%;
}

/* input[type=text], input[type=password], textarea { */
/* 	-webkit-transition: all 0.30s ease-in-out; */
/* 	-moz-transition: all 0.30s ease-in-out; */
/* 	-ms-transition: all 0.30s ease-in-out; */
/* 	-o-transition: all 0.30s ease-in-out; */
/* 	-webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.19); */
/* 	-moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.19); */
/* 	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.19); */
/* 	outline: none; */
/* 	padding: 3px 0px 3px 3px; */
/* 	margin: 5px 1px 3px 0px; */
/* 	border: 1px solid #DDDDDD; */
/* } */

/* input[type=text]:focus, input[type=password]:focus, textarea:focus { */
/* 	box-shadow: 3px 3px 10px 0px rgba(81, 203, 238, 1); */
/* 	padding: 3px 0px 3px 3px; */
/* 	margin: 5px 1px 3px 0px; */
/* 	border: 1px solid rgba(81, 203, 238, 1); */
/* } */