input[id=submit-logout] {
	right: 0px;
}

input[type=submit], a {
	background-color: #31B0D5;
	background-image: none;
	border-width: 1px;
	border-color: #111111;
	border-style: solid;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-collapse: collapse;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-spacing: 0px 0px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	line-height: 24px;
	margin: 0px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	vertical-align: middle;
	white-space: nowrap;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-user-select: none;
}

input[id=tour-join] {
	background: #ccc url('../img/big/plus.png') no-repeat top left;
	padding-left: 16px;
	height: 40px;
	width: 40px;
	border: none;
	background-size: 25px;
	background-color : transparent;
	//background-color: #00bb00;
}

input[id=tour-leave] {
	background: #ccc url('../img/big/minus.png') no-repeat top left;
	padding-left: 16px;
	height: 40px;
	width: 40px;
	border: none;
	background-size: 25px;
	background-color : transparent;
	//background-color: #bb0000;
}
input[id=tour-edit] {
	background: #ccc url('../img/big/edit.png') no-repeat top left;
	padding-left: 16px;
	height: 40px;
	width: 40px;
	border: none;
	background-size: 25px;
	background-color : transparent;
	//background-color: #00bb00;
}

input[id=tour-cancel] {
	background: #ccc url('../img/big/cancel.png') no-repeat top left;
	padding-left: 16px;
	height: 40px;
	width: 40px;
	border: none;
	background-size: 25px;
	background-color : transparent;
	//background-color: #bb0000;
}

input[value=Logout] {
	background-color: #aa0000;
}

th {
	background-color: #eeeeee;
}

tr, td, th, table {
	margin: 0px;
	padding: 3px;
	margin: 3px;
	vertical-align: top;
	margin: 3px;
	background-color: #f3f3f3;
	opacity: 0.9;
}

form {
	display: inline-block;
}

.canceled {
	color: #cccccc;
	text-decoration: line-through;
}

.evenFirst {
	background-color: #f3f3f3;
}

.even {
	border-top: 1px solid #111111;
	background-color: #f3f3f3;
}

.oddFirst {
	background-color: #47B224;
}

.odd {
	border-top: 1px solid #111111;
	background-color: #47B224;
}

td.tooltip {
	opacity: 0.9;
	position: static;
}

.tooltip span.info {
	opacity: 0.9;
	display: none;
}

.tooltip:hover span.info {
	opacity: 0.9;
	display: block;
	position: absolute;
	color: #000000;
	background-color: #ffff80;
}