html, body {
	background: url('../img/background.png') no-repeat center center fixed;
	background-size: 100% 100%;
	background-color: #f3f3f3;
	font-weight: 600;
	color: #37607c;
	margin-bottom: 0px;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

input[id=submit-logout] {
	right: 0px;
}

input[type=submit], a {
	background-color: #31B0D5;
	background-image: none;
	border-width: 1px;
	border-color: #111111;
	border-style: solid;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-collapse: collapse;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-spacing: 0px 0px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	line-height: 24px;
	margin: 0px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	text-decoration: none;
	text-decoration-color: #FFF;
	text-decoration-line: none;
	text-decoration-style: solid;
	vertical-align: middle;
	white-space: nowrap;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-user-select: none;
}

input[id=tour-join] {
	background: #ccc url('../img/big/plus.png') no-repeat top left;
	padding-left: 16px;
	height: 40px;
	width: 40px;
	border: none;
	background-size: 25px;
	background-color: transparent;
}

input[id=tour-leave] {
	background: #ccc url('../img/big/minus.png') no-repeat top left;
	padding-left: 16px;
	height: 40px;
	width: 40px;
	border: none;
	background-size: 25px;
	background-color: transparent;
}

input[id=tour-edit] {
	background: #ccc url('../img/big/edit.png') no-repeat top left;
	padding-left: 16px;
	height: 30px;
	width: 30px;
	border: none;
	background-size: 25px;
	background-color: transparent;
}

input[id=tour-cancel] {
	background: #ccc url('../img/big/cancel.png') no-repeat top left;
	padding-left: 16px;
	height: 30px;
	width: 30px;
	border: none;
	background-size: 25px;
	background-color: transparent;
}

a[id=tour-mail] {
	background: #ccc url('../img/big/mail.png') no-repeat top left;
	padding-left: 16px;
	height: 30px;
	width: 30px;
	border: none;
	background-size: 25px;
	background-color: transparent;
}

input[value=Logout] {
	background-color: #aa0000;
}

tr, td, th, table {
	background-color: #f3f3f3;
	padding: 3px;
	vertical-align: top;
	margin: 3px;
	opacity: 0.9;
}

th {
	background-color: #dddddd;
	border-bottom-style: solid;
}

table a {
	background-color: inherit;
	color: #37607C;
	padding: 1px 2px;
	margin: 3px;
	border-width: 2px;
	border-color: #636B5F;
	border-width: 2px;
}

table a:HOVER {
	background-color: #BDC3BA;
	text-decoration: none;
}

#tourheader {
	height: 40px;
}

#version a {
	background-color: inherit;
	color: #7F7F96;
	padding: 3px 7px;
	border-width: 0;
}

#version a:HOVER {
	background-color: #BDC3BA;
	text-decoration: none;
}

form {
	display: inline-block;
}

.canceled {
	text-decoration: line-through;
	color: #cccccc;
}

.even {
	background-color: #f3f3f3;
}

.line {
	border-top: 1px solid #111111;
}

.odd {
	background-color: #47B224;
}

td.tooltip {
	opacity: 0.9;
	position: static;
}

.tooltip span.info {
	opacity: 0.9;
	display: none;
}

.tooltip:hover span.info {
	opacity: 0.9;
	display: block;
	position: absolute;
	color: #000000;
	background-color: #ffff80;
}

#navigation {
	min-height: 80px;
	max-height: 80px;
	margin-bottom: 30px;
}

#main {
	min-height: calc(100vH - 200px);
	max-height: calc(100vH - 200px);
	overflow: auto;
}

#version {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 10px;
	max-height: 10px;
	float: right;
	color: #999999;
}

#message {
	font-size: 14px;
	font-weight: 600;
	height: 42px;
	min-width: 20vH;
	max-width: 80vH;
	float: left;
	display: inline-block;
}

#logo {
	text-align: right;
	width: auto;
	height: 50px;
}

#navigation-top {
	width: 100%;
	min-width: 100%;
	border-bottom: solid 2px #37607c;
}

#navigation-bottom {
	width: 100%;
	min-width: 100%;
	margin-top: 10px;
}

#navigation-buttons {
	float: left;
	display: inline-block;
}

#navigation-buttons-logout {
	float: right;
	display: inline-block;
}

.flex {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
	-o-text-overflow: ellipsis; /** Opera 9 & 10 **/
	width: 100%;
}

.flex1 {
	display: inline-block;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 60px;
	width: 100%;;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

#beta {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	height: 10000px;
	background-image: url(../img/background_beta.jpg)
}

.hide {
	display: none;
}