#navigation-top {
	height: 50px;
	width: 100%;
	min-width: 100%;
	border-bottom: solid 2px #37607c;
}

#navigation-bottom {
	height: 40px;
	width: 100%;
	min-width: 100%;
	padding-top: 5px;
}


#navigation-buttons {
	float: left;
}

#navigation-buttons-logout ,#navigation-buttons-login {
	float: right;
}

button, a[id=rssbutton], a[id=firstbutton], a[id=nextbutton], a[id=prevbutton], a[id=lastbutton] {
  background: #669999;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  padding: 2px 5px 2px 5px;
  text-decoration: none;
}

button[id=btn-logout] {
  background: #c63635;
}

button:hover,  a[id=rssbutton]:hover, a[id=firstbutton]:hover, a[id=prevbutton]:hover, a[id=nextbutton]:hover, a[id=lastbutton]:hover {
  background: #78c2c1;
  text-decoration: none;
}

button[id=btn-logout]:hover {
  background: #ed2833;
}

fieldset{
	border: 0px none;
	padding: 0px;
}
label {
    display: inline-block;
}

#version {
	margin-right: 20px;
	float: right;
	color: #555555;
}

#version a {
	background-color: inherit;
	color: #555555;
	padding: 3px 7px;
	border-width: 0;
}

#version a:HOVER {
	background-color: #BDC3BA;
	text-decoration: none;
}

#message {
	font-size: 14px;
	font-weight: 600;
	height: 42px;
	min-width: 20vH;
	max-width: 80vH;
	float: left;
	display: inline-block;
}

#logo {
	background: transparent url('../img/s2g.sprite.png') calc( 0 * 25px ) calc( -11 * 25px ) no-repeat;
	width: 250px;
	height: 48px;
	float: right;
}


