/* Seitenspezifisch */
.s2g-tablerow{
	min-height: 5em;
}

/* width: no high-screen */
@media only screen and (max-height: 701px){
	.s2g-tablerow{ min-height: 4em;	}
}

/* width: no medium-high-screen */
@media only screen and (max-height: 401px){
	.s2g-tablerow{ min-height: 3em;	}
}

/* width: no small-high-screen */
@media only screen and (max-height: 251px){
	.s2g-tablerow{ min-height: 2em;	}
}
	
/* input fields */
#ma-Editor, #ma-Betreff {
	height: 100%;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border: none;

 	/* resize baseline */
    vertical-align: text-top;
    margin-top: -1px; 				/* - (border-top-width + padding-top) */

  	font-family: inherit;
   	font-size: inherit;
	
}

#ma-Editor{
	height: 10em;
	resize: vertical;
}

