/* Seitenspezifisch */
.s2g-icon-more { float: right };

.s2g-odd {
	/* Content Odd */
	background-color: #ccc;
}

/* Size */
.st-table-col-number	{ width: 3em; }

.st-table-col-user		{ width: calc( (( 100 * ( 100% - ( 3em + 3em + 5em + 5em ))) / 100 ) - 5px ); }

.st-table-col-mail		{ width: 3em; }

.st-table-col-guide, .st-table-col-member {	width: 5em; }

.st-table-col-number, .st-table-col-user, .st-table-col-mail, .st-table-col-guide, .st-table-col-member { float: left; }

/* Ausrichtung */
.st-table-col-number { text-align:	center; }

.st-table-col-guide, .st-table-col-member {	text-align:	right; }


@media only screen and (max-width : 400px) {
	html { font-size: small; }
}

@media only screen and (max-height : 400px) {
	html { font-size: small; }
}

