/* Seitenspezifisch */
.s2g-tablerow{
	height: 5em;
}

.s2g-input-cell{
	float: left;
	width: calc( 100% - 50px );
}

.lo-login{
	display: inline-block;
	background: url('../img/s2g.sprite.I.png') calc( -53 * 25px ) calc( -5 * 25px );
	background-color: transparent;
	width: 25px;
	height: 25px;
}

.lo-login:hover{	background: url('../img/s2g.sprite.I.png') calc( -53 * 25px ) calc( -7 * 25px );	}

#lo-login{
	margin-left: 5px;
}

/* width: no high-screen */
@media only screen and (max-height: 701px){
	.s2g-tablerow{ height: 4em;	}
}

/* width: no medium-high-screen */
@media only screen and (max-height: 401px){
	.s2g-tablerow{ height: 3em;	}
}

/* width: no small-high-screen */
@media only screen and (max-height: 251px){
	.s2g-tablerow{ height: 2em;	}
}

