/* Seitenspezifisch */
.s2g-tablerow{
	min-height: 2em;
}


.pr-map{
	width: 100%;
	min-width: 100px; 
	height: 400px;
}

#pr-action-buttons, #pr_tools {
	float: right;
}


.pr-TableRow-Content{
	padding: 0.2em;
}

/* width: no high-screen */
@media only screen and (max-height: 701px){
	.s2g-tablerow{ min-height: 1.5em;	}
}

/* width: no medium-high-screen */
@media only screen and (max-height: 401px){
}

/* width: no small-high-screen */
@media only screen and (max-height: 251px){
}
