/* Seitenspezifisch */

.s2g-tablerow {
    padding-top: 10px;
}

.to-sport-select, .to-meetingpoint-select {
	border: none;
}
.s2g-wrap-icon {
	float: left;
}

#to-more{
	float: left;	
}
#to-tools-add-more {
	float: right;
}

#to-wrap {
   width: 100%;
   margin: 0 auto;
}
#to-left-member {
   float: left;
   width: 50%;
}
#to-right-member {
   float: right;
   width: 50%;
}

.to-select-member {
	height: 5px;
	width: 90%;
	overflow: hidden;
}

.xxInput {
	border-style: ridge;
}

.to-input {
	height: 25px;
	width: 99%;
}
.to-map {
	width: 100%;
	min-width: 100px; 
	height: 300px;
}

#meetingpoint, #adress, #date, #time, #distance, #altitude, #duration {
	height: 1.5em;
	width: 99%;
}

/* input fields */
#to-editor1, #to-editor2, #meetingpoint, #adress1, #adress2, #distance, #altitude, #duration {
	height: 100%;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border: none;


 	/* resize baseline */
    vertical-align: text-top;
    margin-top: -1px; /* - (border-top-width + padding-top) */

  	font-family: inherit;
   	font-size: inherit;
}

#to-editor1, #to-editor2{
	height: calc( 200px - 1em);
	resize: vertical;
}

.to-TableCell-border {
	width: calc( 100% - 0.4em - 10px );

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-style: solid;
	border-width:thin medium;
	padding: 0.2em;
}


/*-------------Slider-------------------*/
.to-slider-left				{ background: url('../img/s2g.sprite.I.png') calc( -40 * 25px ) calc( -5 * 25px ); }
.to-slider-left:hover		{ background: url('../img/s2g.sprite.I.png') calc( -40 * 25px ) calc( -7 * 25px ); }
.to-slider-right			{ background: url('../img/s2g.sprite.I.png') calc( -42 * 25px ) calc( -5 * 25px ); }
.to-slider-right:hover		{ background: url('../img/s2g.sprite.I.png') calc( -42 * 25px ) calc( -7 * 25px ); }

.to-slider-left, .to-slider-right {
	display: inline-block;
	width: 30px;
	height: 25px;
	background-color: transparent;
}

/* slider Positionierung */
.to-top, .to-bottom { display: flex; }
.to-left { float: left; }
.to-right { float: right; }
.to-left, .to-right { width: 30px; }
.to-center {  width: 100%; margin: 0 10px; }

.to-bottom {
    justify-content: center;
    align-items: center;
}
/* date(time)picker */
.ui-widget {
	font-size: 1em;
}
.ui-widget-header {
	background: #669999;
}
/* move datetimepicker into front */
.ui-datepicker {
	z-index: 99 !important;
}



/* Text unterhalb Slider näher ranrücken */
.ui-slider-horizontal.ui-slider-pips {
    margin-bottom: 0.4em;
}


.to-table-col-25 	{	width: 25%; }
.to-table-col-50 	{	width: 50%;	}
.to-table-col-30px	{	width: 30px; }
.to-table-col-60px	{	width: 60px; }
.to-table-col-120px {	width: 120px; }
.to-table-col-180px {	width: 180px; }
.to-table-col-25, .to-table-col-50, .to-table-col-30px, .to-table-col-60px, .to-table-col-120px, .to-table-col-180px {
	float: left;
}

