/* Seitenspezifisch */
/*----s2g-pagetools----*/
#ul-cb_tools-add, #ul-tools-add-more {
	float: right;
}

#s2g-tableheader .s2g-tablerow, #s2g-tablecontent .s2g-tablerow {
	padding-left: 10px;
}

.s2g-odd {
	/* Content Odd */
	background-color: #ccc;
}

/* Size */
.ul-table-col-number {
	width: 3em;
}
.ul-table-col-user {
	width: calc(( 40 * ( 100% - (3em  + 3em + 10em + 15em + 4em + 7em + 3em + 3em + 5em))) / 100 );
}
.ul-table-col-mail {
	width: 3em;
}
.ul-table-col-name {
	width: calc(( 60 * ( 100% - (3em  + 3em + 10em + 15em + 4em + 7em + 3em + 3em ))) / 100 );
}
.ul-table-col-phone {
	width: 10em;
}
.ul-table-col-distance {
	width: 15em;
}
.ul-table-col-age {
	width: 4em;
}
.ul-table-col-register {
	width: 7em;
}
.ul-table-col-guide, .ul-table-col-member {
	width: 3em;
}

.ul-table-col-number, .ul-table-col-user, .ul-table-col-mail, .ul-table-col-name, .ul-table-col-phone, .ul-table-col-distance, .ul-table-col-age, .ul-table-col-register, .ul-table-col-guide, .ul-table-col-member {
	float: left;
}

/* Ausrichtung */
.ul-table-col-number {
	text-align:	center;
}

.ul-table-col-age, .ul-table-col-register, .ul-table-col-guide, .ul-table-col-member {
	text-align:	right;
}

/* width: no wide-screen */
@media only screen and (max-width: 1201px){
	.ul-table-col-distance {	display: none;	}
	.ul-table-col-user {	width: calc(( 40 * ( 100% - ( 3em  + 3em + 10em + 4em + 7em + 3em + 3em ))) / 100 );	}
	.ul-table-col-name {	width: calc(( 60 * ( 100% - ( 3em  + 3em + 10em + 4em + 7em + 3em + 3em ))) / 100 );	}
}

@media only screen and (max-width: 801px){
	.ul-table-col-age, .ul-table-col-register, .ul-table-col-guide, .ul-table-col-member {	display: none;	}
	.ul-table-col-user {	width: calc(( 40 * ( 100% - ( 3em  + 3em + 10em ))) / 100 );	}
	.ul-table-col-name {	width: calc(( 60 * ( 100% - ( 3em  + 3em + 10em ))) / 100 );	}
}

@media only screen and (max-width: 401px){
}

