/* Seitenspezifisch */



/* Size: width */

.tl-table-col-Title{
	width: 100%;
}

.tl-table-col-Sport{
	width: 60px;
}
/* medium */
.tl-table-col-Dauer{
	width: 6em;
}
/* medium */
.tl-table-col-Distanz{
	width: 6em;
}
/* medium */
.tl-table-col-Bergauf{
	width: 6em;
}
/* big */
.tl-table-col-Pace{
	width: 65px;
}
/* big */
.tl-table-col-Technik{
	width: 85px;
}


/* Size */
.tl-table-col-Teilnehmer, .tl-table-col-Beschreibung {
	width: calc(( 50 * ( 100% - ( 60px  + 6em + 6em + 6em + 65px + 85px ))) / 100 );
}
.tl-table-col-Scrollbar {
	width: 17px;
}

/* without authentification */
.tl-table-col-Beschreibung-WA {
	width: calc(( 100 * ( 100% - ( 60px + 6em + 6em + 6em + 200px ))) / 100 );
}
.tl-table-col-Teilnehmer-WA {
	width: calc( 200px );
}

/* flow */
.tl-table-col-Sport, .tl-table-col-Beschreibung, .tl-table-col-Beschreibung-WA, .tl-table-col-Dauer, .tl-table-col-Distanz, .tl-table-col-Bergauf, .tl-table-col-Pace, .tl-table-col-Technik, .tl-table-col-Teilnehmer, .tl-table-col-Teilnehmer-WA, .tl-table-col-Scollbar {
	float:	left;
    padding-top: 5px;
}

#tl-cb-tools, #tl-btn-tour, #tl-btn-rss, #tl-cb-group {
	float:	left;
}
div#tl-tools-pagination, div#tl-tools-pagination > div {
	float:	left;	
}
#tl-tools-add, #tl-tools-search {
	float:	right;
}


/* style tour canceled */
.tl-canceled {
	text-decoration: line-through;
}
.tl-nightaction{
	background-color: black;
	width: 32px;
	height: 32px;
}

.s2g-wrap-icon {
	position:	relative;
}

.tl-event {
	position:	absolute;
	bottom:		0px;
	right:		16px;
	font-size:	10px;
}

.tl-table-col-title{
	font-weight: bold;
}

.tl-content-title{
	width: calc( 100% - 125px );
	float: left;
	margin-left: 5px;
}

.tl-content-tools{
	width: calc( 125px - 5px ); /* margin-left von tl-content-title */
	float: right;
	padding-top: 2px;
}

.tl-content-Treffpunkt{
	float: left;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	padding-right: 5px;
}

.tl-content-Treffpunkt:hover, .tl-a-guide-profil:hover, .tl-a-member-profil:hover{
	color: grey;
}
.tl-content-Beschreibung, .tl-content-Beschreibung_WA {
	width: 100%;
	float: left;
	overflow-y: auto;
	position: relative;
	max-height: 3.8em;
}

.tl-compact{
	
}

.tl-wrap{
	white-space: pre-wrap;	
}

.tl-content-Beschreibung_WA {
	overflow-y: hidden;
}

.tl-member, .tl-member-icons, .tl-member-profil, .tl-guide, .tl-guide-icons, .tl-guide-profil, .tl-tourday{
	float:	left;
}
div > .tl-member-profil, div > .tl-guide-profil, div > .tl-tourday, div > .tl-no-attendees {
	padding-top: 5px;
	padding-right: 5px;

}

.tl-member-icons, .tl-guide-icons {
	padding-top: 5px;
}

.tl-no-attendees {
	float: right;
	padding-right: 10px;
}

/* tools icon */
.tl-input-icon-edit				{ background: url('../img/s2g.sprite.I.png') calc( -16 * 25px ) calc( -8 * 25px ); }
.tl-input-icon-edit:hover		{ background: url('../img/s2g.sprite.I.png') calc( -16 * 25px ) calc( -9 * 25px ); }
.tl-input-icon-deactivate		{ background: url('../img/s2g.sprite.I.png') calc( -22 * 25px ) calc( -8 * 25px ); }
.tl-input-icon-deactivate:hover	{ background: url('../img/s2g.sprite.I.png') calc( -22 * 25px ) calc( -9 * 25px ); }
.tl-input-icon-activate			{ background: url('../img/s2g.sprite.I.png') calc(  -4 * 25px ) calc( -8 * 25px ); }
.tl-input-icon-activate:hover	{ background: url('../img/s2g.sprite.I.png') calc(  -4 * 25px ) calc( -9 * 25px ); }
.tl-input-icon-plus				{ background: url('../img/s2g.sprite.I.png') calc( -20 * 25px ) calc( -8 * 25px ); }
.tl-input-icon-plus:hover		{ background: url('../img/s2g.sprite.I.png') calc( -20 * 25px ) calc( -9 * 25px ); }
.tl-input-icon-minus			{ background: url('../img/s2g.sprite.I.png') calc( -18 * 25px ) calc( -8 * 25px ); }
.tl-input-icon-minus:hover		{ background: url('../img/s2g.sprite.I.png') calc( -18 * 25px ) calc( -9 * 25px ); }
.tl-input-icon-copy				{ background: url('../img/s2g.sprite.I.png') calc( -26 * 25px ) calc( -8 * 25px ); }
.tl-input-icon-copy:hover		{ background: url('../img/s2g.sprite.I.png') calc( -26 * 25px ) calc( -9 * 25px ); }

.tl-content-tools .tl-icon-member-mail {
	padding: 5px;
}

/* icons allgemein */
.tl-input-icon-edit, .tl-input-icon-plus, .tl-input-icon-minus, .tl-input-icon-copy, .tl-input-icon-activate, .tl-input-icon-deactivate {
	display: inline-block;
	width: 22px;
	height: 25px;
	border: none;
}

/* multi select */
.ui-multiselect{
	color: white;
	font-weight: normal;
	font-size: 1em;
	background: #669999;
}

.ui-widget-header {
    border: none;
    background-color: #78c2c1;
	background-image: none;
}

.ui-state-hover{
	color: black;
}

.ui-state-active{
	border: 1px solid #c0c0c0;
}

.ui-state-hover{
	background: #78c2c1;
	color: black !important;
}

.tl-truncate {
}


/* width: no wide-screen */
@media only screen and (max-width: 901px){
	.tl-truncate {
		width: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;	/* required for Opera */
		-ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
 	    display: block;
	}
}
@media only screen and (max-width: 801px){
	body {	margin: 0px;	}
	.tl-table-col-Technik { display: none; }
	.tl-table-col-Pace { display: none; }
	.tl-table-col-Teilnehmer, .tl-table-col-Beschreibung {	width: calc(( 50 * ( 100% - ( 60px + 6em + 6em + 6em ))) / 100 ); }
}
@media only screen and (max-width: 601px){
	.tl-table-col-Dauer { display: none; }
	.tl-table-col-Distanz { display: none; }
	.tl-table-col-Bergauf { display: none; }
	.tl-table-col-Teilnehmer, .tl-table-col-Beschreibung { width: calc(( 50 * ( 100% - ( 60px ))) / 100 );	}
	
	/* without authentification */
	.tl-table-col-Beschreibung-WA {	width: calc(( 100 * ( 100% - ( 60px + 200px ))) / 100 ); }
	.tl-table-col-Teilnehmer-WA {	width: calc( 200px ); }
}

@media only screen and (max-width: 401px){
	html{	font-size: small;	}
	}

@media only screen and (max-width : 400px) and (max-height : 700px){
}




