.pr-TableBody{
	min-height: 100%; /* Mindesthöhe auf 100 % (bei modernen Browsern) */
	height: auto !important; /* important Behelf (bei modernen Browsern */
}


/* Size: width */
.pr-TableCell-col-0{
	width: 100px;
}

.pr-TableCell-col-1, .pr-TableCell-col-1-noborder{
 	width: 12em;
}

.pr-TableCell-col-2{
	width: calc(( 40 * ( 100% - ( 12em ))) / 100 );
	min-width: 12em;
}


/* size: height */
#telefon, #birthday, #adresse, #realname{
	height: 1.5em;
}

.pr-TableRow-Head, .pr-TableRow-Foot{
	height: 100px;;
}


/* input fields */
#telefon, #birthday, #adresse, #realname{
	width:  100%;
	resize: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border: none;

	/* resize baseline */
    	vertical-align: text-top;
    	margin-top: -1px; /* - (border-top-width + padding-top) */

  	font-family: inherit;
   	font-size: inherit;
}

#pr-action-buttons {
	float: right;
}


.pr-TableRow-Content{
	padding: 0.2em;
}

.pr-TableCell-col-2, .pr-TableCell-col-2-noborder{
	padding: 5px;
}



.pr-TableCell-col-1{
	padding-top: 3px; /* - margin-top of textarea */
}

.pr-TableCell-col-2{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-style: solid;
	border-width:thin medium;
}
.pr-TableCell-Content-Tourinfo-2{
	font-size: small;
}
.pr-TableRow-Tourinfo{
	overflow: hidden;
}

/* responsive design */
/* big-screen */
@media (min-width: 1281px){
}

/* medium--screen */
@media (min-width: 901px) and (max-width: 1280px){
}

/* small-screen */
@media (min-width: 301px) and (max-width: 900px){
}


/* mobil-screen */
@media (max-width: 300px){

html{
	font-size: small;
}

}
