html {
}


body {
	background: url('../img/background.png') no-repeat center center fixed;
	background-size: contain;
	background-position: bottom;
	background-color: #ffffff;
	font-weight: 400;
	color: #000000;
	margin-top:		20px;
	margin-left:	20px;
	margin-right:	20px;
	margin-bottom:	20px;
	font-family: Verdana, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;

}
.night {
	background: url('../img/background.gif') no-repeat center center fixed;	
	background-size: contain;
	background-position: bottom;
	background-color: #ffffff;
}

html, body {
	overflow:hidden;
}

#s2g-top {
	height: 50px;
	width: 100%;
	min-width: 100%;
	border-bottom: solid 2px #37607c;
}
#s2g-message {
	float: left;
}
#s2g-logo {
	background: transparent url('../img/s2g.sprite.I.png') calc( -13 * 25px ) calc( -5 * 25px );
	height: 48px;
	width: 250px;
	float: right;
}

#s2g-navigation {
	height: 40px;
	width: 100%;
	padding-top: 5px;
}

#s2g-left-navigation-buttons {
	float: left;
}

#s2g-right-navigation-buttons-logout, #s2g-right-navigation-buttons-login {
	float: right;
}

#s2g-pagetools {
	width: 100%;
}	

#s2g-pagetools-extended {
	width:100%;
}
#s2g-tableheader {
	width:100%;
}
#s2g-tablecontent {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.s2g-tablerow {
	overflow: hidden;
	clear: both;			/* neue Zeile */
}
.s2g-tablecell {
	width: 100%;
}

.s2g-table-col-1, .s2g-table-col-2, .s2g-table-col-3, .s2g-table-col-4, .s2g-table-col-5 {
	float: left;
}

.s2g-table-col-1 {
	width:	5em;
}
.s2g-table-col-2 {
	width:	calc( 20 * ( 100% - ( 5em + 5em  )) / 100 );
}
#s2g-tableheader .s2g-table-col-2 {
	width:	calc( 20 * ( 100% - ( 5em + 5em + 17px )) / 100 );
}
.s2g-table-col-3 {
	width:	calc( 80 * ( 100% - ( 5em + 5em  )) / 100 );
}
#s2g-tableheader .s2g-table-col-3 {
	width:	calc( 80 * ( 100% - ( 5em + 5em + 17px )) / 100 );
}
.s2g-table-col-4 {
	width:	5em;
}
.s2g-table-col-5 {
	width: 17px;
}

#s2g-footer {
	position:absolute;
	bottom: 5px;
	height:	1em;
	width:100%;
}

#s2g-version {
	margin-right: 40px;
	float: right;
	color: #555555;
}

#s2g-version a {
	background-color: inherit;
	color: #555555;
	padding: 3px 7px;
	border-width: 0;
}

#s2g-version a:hover {
	background-color: #BDC3BA;
	text-decoration: none;
}
	
/*-----------Definition for Buttons--------------*/
button, a[id=firstbutton], a[id=nextbutton], a[id=prevbutton], a[id=lastbutton] {
	background: #669999;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #ffffff;
	font-weight: 500;
	font-size: 14px;
	padding: 2px 5px 2px 5px;
	text-decoration: none;
	margin-right: 5px;
}

button[id=btn-logout] {
	background: #c63635;
}

button:hover, a[id=firstbutton]:hover, a[id=prevbutton]:hover, a[id=nextbutton]:hover, a[id=lastbutton]:hover {
	background: #78c2c1;
	text-decoration: none;
}

button[id=btn-logout]:hover {
	background: #ed2833;
}

/*-----------Definition for Checkboxes--------------*/
.s2g-checkbox {
	font-size: 80%;
	padding-left: 20px;
	padding-right: 20px;
}
/*------------- Icons ----------------------------*/
.s2g-icon-sport-mtb						{ background: url('../img/s2g.sprite.I.png') calc( -0 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-rennrad					{ background: url('../img/s2g.sprite.I.png') calc( -3 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-run						{ background: url('../img/s2g.sprite.I.png') calc( -6 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-schwimmen 				{ background: url('../img/s2g.sprite.I.png') calc( -9 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-ski 					{ background: url('../img/s2g.sprite.I.png') calc( -12 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-crosser 				{ background: url('../img/s2g.sprite.I.png') calc( -15 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-trailrun 				{ background: url('../img/s2g.sprite.I.png') calc( -18 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-duathlon 				{ background: url('../img/s2g.sprite.I.png') calc( -21 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-triathlon 				{ background: url('../img/s2g.sprite.I.png') calc( -24 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-swim-bike 				{ background: url('../img/s2g.sprite.I.png') calc( -27 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-downhill-bike 			{ background: url('../img/s2g.sprite.I.png') calc( -30 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-e-bike 					{ background: url('../img/s2g.sprite.I.png') calc( -33 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-feier 					{ background: url('../img/s2g.sprite.I.png') calc( -36 * 25px ) calc( -2 * 25px ); }

.s2g-icon-sport-canceled 				{ background: url('../img/s2g.sprite.I.png') calc( -42 * 25px ) calc( -2 * 25px ); z-index:	2; }
.s2g-icon-sport-canceled-nightaction	{ background: url('../img/s2g.sprite.I.png') calc( -39 * 25px ) calc( -2 * 25px ); }
.s2g-icon-sport-history 				{ background: url('../img/s2g.sprite.I.png') calc( -45 * 25px ) calc( -2 * 25px ); z-index:	1; }
.s2g-icon-sport-canceled-small 			{ background: url('../img/s2g.sprite.I.png') calc( -2 * 25px ) calc( -5 * 25px ); }
.s2g-icon-sport-history-small 			{ background: url('../img/s2g.sprite.I.png') calc( -8 * 25px ) calc( -5 * 25px ); }

.s2g-wrap-icon, .s2g-icon-sport-mtb, .s2g-icon-sport-rennrad, .s2g-icon-sport-run, .s2g-icon-sport-schwimmen, .s2g-icon-sport-ski, .s2g-icon-sport-crosser, .s2g-icon-sport-trailrun, .s2g-icon-sport-duathlon, .s2g-icon-sport-triathlon, .s2g-icon-sport-feier, .s2g-icon-sport-swim-bike, .s2g-icon-sport-downhill-bike, .s2g-icon-sport-e-bike, .s2g-icon-sport-canceled, .s2g-icon-sport-canceled-nightaction, .s2g-icon-sport-history {
	width: 50px;
	height: 50px;
	background-color: transparent;
	border-radius: 10px;
	box-sizing: border-box;
}

.s2g-wrap-icon{
	position: relative;
	border: none;
}
.s2g-wrap-icon span{
	position: absolute;
}


.s2g-icon-sport-nightaction				{ background-color: black; }
.s2g-icon-sport-event-nightaction 		{ color: white; }

.s2g-icon-sport-event {
	bottom:		-2px;
	right:		4px;
	font-size:	10px;
	z-index:	3;
}

/* rate icons */
.s2g-icon-rate-1 			{ background: url('../img/s2g.sprite.I.png') calc( -24 * 25px ) calc( -5 * 25px ); }
.s2g-icon-rate-1:hover		{ background: url('../img/s2g.sprite.I.png') calc( -24 * 25px ) calc( -5 * 25px ); }
.s2g-icon-rate-2 			{ background: url('../img/s2g.sprite.I.png') calc( -26 * 25px ) calc( -5 * 25px ); }
.s2g-icon-rate-2:hover		{ background: url('../img/s2g.sprite.I.png') calc( -26 * 25px ) calc( -6 * 25px ); }
.s2g-icon-rate-3 			{ background: url('../img/s2g.sprite.I.png') calc( -28 * 25px ) calc( -5 * 25px ); }
.s2g-icon-rate-3:hover		{ background: url('../img/s2g.sprite.I.png') calc( -28 * 25px ) calc( -6 * 25px ); }
.s2g-icon-rate-4 			{ background: url('../img/s2g.sprite.I.png') calc( -30 * 25px ) calc( -5 * 25px ); }
.s2g-icon-rate-4:hover		{ background: url('../img/s2g.sprite.I.png') calc( -30 * 25px ) calc( -6 * 25px ); }
.s2g-icon-rate-5 			{ background: url('../img/s2g.sprite.I.png') calc( -32 * 25px ) calc( -5 * 25px ); }
.s2g-icon-rate-5:hover		{ background: url('../img/s2g.sprite.I.png') calc( -32 * 25px ) calc( -6 * 25px ); }
.s2g-icon-rate-6 			{ background: url('../img/s2g.sprite.I.png') calc( -34 * 25px ) calc( -5 * 25px ); }
.s2g-icon-rate-6:hover		{ background: url('../img/s2g.sprite.I.png') calc( -34 * 25px ) calc( -6 * 25px ); }

.s2g-icon-rate-1, .s2g-icon-rate-2, .s2g-icon-rate-3, .s2g-icon-rate-4, .s2g-icon-rate-5, .s2g-icon-rate-6 {
	display: inline-block;
	width: 35px;
	height: 24px;
	background-color: transparent;
}

.s2g-icon-more				{ background: url('../img/s2g.sprite.I.png') calc( -45 * 25px ) calc( -5 * 25px ); }
.s2g-icon-more:hover		{ background: url('../img/s2g.sprite.I.png') calc( -45 * 25px ) calc( -6 * 25px ); }
.s2g-icon-s-f				{ background: url('../img/s2g.sprite.I.png') calc( -51 * 25px ) calc( -5 * 25px ); }
.s2g-icon-s-f:hover			{ background: url('../img/s2g.sprite.I.png') calc( -51 * 25px ) calc( -6 * 25px ); }

.s2g-icon-more, .s2g-icon-s-f, .s2g-icon-more:hover, .s2g-icon-s-f:hover {
    display: inline-block;
    width: 20px;
    height: 20px;
	vertical-align:	text-bottom;
    border: none;
}

.s2g-icon-guide-mail,		.s2g-icon-member-mail				{ background: url('../img/s2g.sprite.I.png') calc( -8 * 25px ) calc( -9 * 25px ); }
.s2g-icon-guide-mail:hover,	.s2g-icon-member-mail:hover			{ background: url('../img/s2g.sprite.I.png') calc( -8 * 25px ) calc( -8 * 25px ); }

.s2g-icon-guide-phone,		.s2g-icon-member-phone				{ background: url('../img/s2g.sprite.I.png') calc( -12 * 25px ) calc( -9 * 25px ); }
.s2g-icon-guide-phone:hover,	.s2g-icon-member-phone:hover	{ background: url('../img/s2g.sprite.I.png') calc( -12 * 25px ) calc( -8 * 25px ); }

.s2g-icon-guide-mail,		.s2g-icon-member-mail,			.s2g-icon-guide-phone,			.s2g-icon-member-phone,
.s2g-icon-guide-mail:hover,	.s2g-icon-member-mail:hover,	.s2g-icon-guide-phone:hover,	.s2g-icon-member-phone:hover {
    display: inline-block;
    width: 35px;
    height: 20px;
	vertical-align:	text-bottom;
}

.s2g-icon-guide-phone, .s2g-icon-member-phone, .s2g-icon-guide-phone:hover, .s2g-icon-member-phone:hover {
    width: 25px;
}

/*-----------------even--odd------------------------*/
.s2g-even-title, .s2g-even, .s2g-odd-title, .s2g-odd {
	padding-top: 3px;
	padding-bottom: 3px;
	opacity: 0.8;
}

.s2g-odd-title, .s2g-even-title{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.s2g-even-title {
	/* Header Even */
	background-color: #d9d9d9;
}
.s2g-even {
	/* Content Even */
	background-color: white;
}

.s2g-odd-title{
	/* Header Odd */
	background-color: #cccccc;
}
.s2g-odd {
	/* Content Odd */
	background-color: white;
}

/*------------------inputfields----------------------*/
.s2g-input-cell {
	width: calc( 100% - 20px );
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-style: solid;
	border-width:thin medium;
	padding: 0.2em;
}

.s2g-input-field {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border: none;

 	/* resize baseline */
    vertical-align: text-top;
    margin-top: -1px; 				/* - (border-top-width + padding-top) */
}
.s2g-searchfield{
	width:	98%;
}

/* width: no wide-screen */
@media only screen and (max-width: 801px){
	body {		margin-left:	5px;	margin-right:	5px;	}
	.s2g-table-col-1 { display: none; }
	.s2g-table-col-4 { display: none; }
	.s2g-table-col-2 {	width:	calc( 20 * ( 100% - ( 0px  )) / 100 );	}
	#s2g-tableheader .s2g-table-col-2 {	width:	calc( 20 * ( 100% - ( 17px )) / 100 );	}
	.s2g-table-col-3 {	width:	calc( 80 * ( 100% - ( 0px  )) / 100 );	}
	#s2g-tableheader .s2g-table-col-3 {	width:	calc( 80 * ( 100% - ( 17px )) / 100 );	}
}
@media only screen and (max-width: 601px){
}

@media only screen and (max-width: 401px){
	html{	font-size: small;	}
	
	#s2g-tableheader .s2g-table-col-2 {	width:	calc( 20 * ( 100% - ( 0px )) / 100 );	}
	#s2g-tableheader .s2g-table-col-3 {	width:	calc( 80 * ( 100% - ( 0px )) / 100 );	}

}

/* height: no high-screen */
@media only screen and (max-height: 701px){
	body {		margin-left:	5px;	margin-right:	5px;	}
	#s2g-top, #s2g-footer { display: none; }
}

/* height: no medium-high-screen */
@media only screen and (max-height: 401px){
	html{	font-size: small;	}
	#s2g-pagetools { display: none; }
	
}

/* height: no small-high-screen */
@media only screen and (max-height: 251px){
	#s2g-pagetools-extended { display: none; }
}

.isIPhonePortrait{}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait),	/* iPhone 2G-4S in portrait */
	only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait),		/* iPhone 5 & 5S in portrait */
	only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait){		/* iPhone 6 in portrait */
	.isIPhonePortrait{	display: none; }
	 @viewport {
		width: device-width;
		initial-scale: 1;
	}	
}

.isIPhoneLandscape{}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape),	/* iPhone 2G-4S in landscape */
	only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape),	/* iPhone 5 & 5S in landscape */
	only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape){	/* iPhone 6 in landscape */
	.isIPhoneLandscape{	display: none; }

	html{	font-size: small;	}
	#s2g-top, #s2g-footer { display: none; }
	#s2g-pagetools { display: none; }
	#s2g-pagetools-extended { display: none; }
	@viewport {
		width: 500;
	}	
}
