<?php 
$config['dbHostname']='';
$config['dbUsername']='';
$config['dbPassword']='';
$config['dbDatabase']='';
$config['emailFrom']='';
$config['version'] = '';
$config['beta'] = false;
$config['betainformation'] = 'beta';
$config ['HTMLEditor'] = false;
#$config['debug'] = true;

?>